<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Title Page-->
    <title>Uber Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="../../vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="../../vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="../../css/mainForm.css" rel="stylesheet" media="all">
    <link href="../../css/main.css" rel="stylesheet" media="all">
</head>

<body>

    <div id="header"></div>
    <div class="page-wrapper p-t-100 p-b-100 font-robo">
      <div class="wrapper wrapper--w680">
          <form method="POST">
          <div class="card card-1">
                <div class="card-body">
                    <h3 class="title">Datos personales</h3>
                    <div class="row row-space">
                        <div class="col-6">
                          <div class="input-group">
                              <input class="input--style-1" type="text" placeholder="Nombre" name="name">
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="input-group">
                              <input class="input--style-1" type="text" placeholder="Apellido" name="name">
                          </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-6">
                          <div class="input-group">
                              <input class="input--style-1" type="text" placeholder="Edad" name="name">
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="input-group">
                              <input class="input--style-1" type="text" placeholder="Cédula de identidad" name="name">
                          </div>
                        </div>
                    </div>
                    <div class="row row-space">
                      <div class="col-6">
                          <div class="input-group">
                              <input class="input--style-1" type="text" placeholder="Celular" name="name">
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="input-group">
                              <input class="input--style-1" type="text" placeholder="Email" name="name">
                          </div>
                        </div>
                      </div>
                      <div class="row row-space">
                        <div class="col-6">
                            <div class="input-group">
                                <input class="input--style-1" type="text" placeholder="Cantidad de días" name="name">
                            </div>
                        </div>
                      </div>
                </div>
          </div>
          <div class="p-t-20 d-inline-block">
              <button class="btn btn--radius btn-color font-weigth-ligth" type="submit">Enviar</button>
          </div>
          <a href="http://localhost:3000/src/index.html" class="d-inline-block color-blue font-weigth-ligth ml-3">
            Cancelar
          </a>
          </form>
      </div>
    </div>

    <div id="footer"></div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>
    $(function(){
     $("#footer").load("../footer.html");
     $("#header").load("../header.html");
    });
    </script>
</body>

</html>
