<footer id="footer" class="page-footer blue pt-4 justiy-content-center" style="height:350px;">
  <div class="container-fluid footer-background">
    <div class="row p-4 justify-content-center">
      <h4 class="font-weight-light">Encontrános</h4>
    </div>
    <div class="row mt-4">
      <!-- OFICINA CARMELO -->
      <div class="col-md-3">
        <div class="row">
          <div class="col-2">
                <i class="flaticon-map flaticon-footer"></i>
                <h2 class="mt-3">
                  <i class="flaticon-phone-1 flaticon-footer"></i>
                </h2>
          </div>
          <div class="col ml-2">
            <p class="font-weight-light m-0">
              <small>Oficina Carmelo</small>
            </p>
            <p class="font-weight-light">
              <small>19 de abril 239 bis</small>
            </p>
            <p class="font-weight-light">
              <small>4542 7548</small>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <!-- OFICINA EL PINAR -->
        <div class="row">
          <div class="col-2">
            <i class="flaticon-map flaticon-footer "></i>
            <h2 class="mt-3">
              <i class="flaticon-phone-1 flaticon-footer"></i>
            </h2>
          </div>
          <div class="col ml-2">
            <p class="font-weight-light m-0">
              <small>Oficina El Pinar</small>
            </p>
            <p class="font-weight-light">
              <small>Av. Giannattassio Km. 29</small>
            </p>
            <p class="font-weight-light">
              <small>2696 4260</small>
            </p>
          </div>
        </div>
      </div>

    <!-- <div class="row mt-4 justify-content-center">
      <div class="row"> -->
        <div class="col-md-3">
          <!-- EMAIL -->
          <div class="row">
            <div class="col-2">
              <i class="flaticon-mail flaticon-footer"></i>
            </div>
            <div class="col">
                <p class="font-weight-light"> <small>victorguerrerosilva@hotmail.com</small></p>
                <p class="font-weight-light"><small>099636719 - 099 277738</small></p>
              </div>
            </div>
          </div>



        <div class="col-md-3">
          <!-- SEGUINOS -->
          <div class="row pl-5 ml-5">
          <div class="d-flex flex-column">

            <h5 class="font-weight-light">Seguínos</h5>
            <a class="facebook-icon" href="https://www.facebook.com/segurosguerrero.ehijos.9">
              <i class="flaticon-facebook flaticon-footer"></i>
              </a>
          </div>
        </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
</footer>
