<head>
  <link rel="stylesheet" href="../css/footer.css">
</head>
<footer id="footer" class="page-footer blue pt-4 justiy-content-center" style="height:350px;">
<form id="general-contact">
  <div class="container-fluid footer-background">

    <div class="row pt-5">
      <!-- FIRST COLUMN -->
      <div class="col-md-3">
          <!-- OFICINA CARMELO -->
          <div class="row">
            <div class="col-2">
                  <i class="flaticon-map flaticon-footer"></i>
                  <h2 style="margin-top:40px">
                    <i class="flaticon-phone-1 flaticon-footer"></i>
                  </h2>
            </div>
            <div class="col">
              <p class="font-weight-light m-0">
                Oficina Carmelo
              </p>
              <p class="font-weight-light h-25">
                <small>19 de abril 239 bis</small>
              </p>
              <p class="font-weight-light" style="margin-top:30px">
                4542 7548
              </p>
            </div>
          </div>
          <div class="row">
          <!-- EMAIL -->
          <div class="col mt-4">
            <div class="row">
              <div class="col-2">
                <i class="flaticon-mail flaticon-footer"></i>
              </div>
              <div class="col">
                  <p class="font-weight-light"> victorguerrerosilva@hotmail.com</p>
                  <p class="font-weight-light">099 636719 - 095 277738</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SECOND COLUMN -->
      <div class="col-md-3">
        <div class="row">
          <div class="col-2">
            <i class="flaticon-map flaticon-footer "></i>
            <h2 style="margin-top:40px">
              <i class="flaticon-phone-1 flaticon-footer"></i>
            </h2>
          </div>
          <div class="col">
            <p class="font-weight-light m-0">
              Oficina El Pinar
            </p>
            <p class="font-weight-light h-25">
              <small>Av. Giannattassio Km 29 esq. Asamblea <br>Lado sur</small>
            </p>
            <p class="font-weight-light mt-4">
              2696 4260 - 2698 5487
            </p>
          </div>

        </div>

        <!-- SEGUINOS -->

          <div class="row" style="margin-top:10px">
            <div class="col ml-4">
          <div class="d-flex flex-column">
            <h5 class="font-weight-light">Seguínos</h5>
            <a class="facebook-icon" href="https://www.facebook.com/segurosguerrero.ehijos.9">
              <i class="flaticon-facebook flaticon-footer"></i>
              </a>
          </div>
        </div></div>

      </div>


    <!--THIRD column -->
      <div class="col-md-4">

        <h4 class="contact-form">Contáctenos</h4>
        <div class="form-group mt-3">
          <input type="email" class="form-control" id="form-email" placeholder="Correo electrónico">
        </div>
        <div class="form-group">
          <textarea class="form-control" id="form-message" rows="5" placeholder="Mensaje" ></textarea>
        </div>
        <div class="row pr-3">

          <div class="col-3">
              <button type="submit" class="btn btn-send  btn-primary mb-2 ">Enviar</button>
          </div>
          <div class="spinner-border text-primary visibility-hidden" id="spinner" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div id="sendContactMailOk" class="col display-none" role="alert">Su mensaje fue enviado. <br >Muchas gracias por comunicarse con Guerrero Seguro.</div>
        </div>
    </div>
  </div>
  </div>
  </form>
</footer>

<script src="/src/js/sendMailContactForm.js"></script>
