<!-- NAVIGATION -->
 <nav class="navbar navbar-dark navbar-custom navbar-expand-lg ">
  <div class="container">

    <a class="navbar-brand" href="/index.html">
        <img src="/src/img/logo-company.png" width="140" height="50" alt="">
      </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#footer">CONTACTO</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
