<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

		<link rel="stylesheet" href="../css/main.css">
		<link rel="stylesheet" type="text/css" href="../css/flaticon/flaticon.css">
	</head>
	<body>
		<div id="header"></div>

		<!-- QUE HACER EN CASO DE ACCIDENTE -->
		<section>
			<div class="container container-siniestro">
					<h1 class="page-title">¿Qué hacer en caso de siniestro?</h1>
					<p class="description">
								Realizar la denuncia a su compañía de seguros en el momento.
								<br>
								En caso de que haya lesionados primero debe prestar asistencia, hacer la denuncia policial y luego a su aseguradora.
								<br>
								Si es posible sacar fotos del siniestro y solicitar nombre, cédula,
								teléfono y compañía del o los involucrados.
								<br><br>
								Sura 08008120<br>
								BSE 1994<br>
								Porto Seguro 24878616 o *76786 desde celular<br>
								San Cristobal 08008831<br>
								HDI 08002777<br>
								Surco 08001320<br><br>
								Si ya sos cliente SURA y querés denunciar un siniestro,
								<a href="https://cliente.segurossura.com.uy/DenunciaSiniestros/"> ingresá aquí
        				</a>
					</p>
			</div>
    </section>
	<section>
		<div id="footer"></div>
	</section>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="../js/assurance.js"></script>
		<script src="../js/sendMailContactForm.js"></script>
		<script src="https://smtpjs.com/v3/smtp.js"></script>
		<script>
			$(function(){
			 $("#footer").load("footer.html");
			 $("#header").load("header.html");
			});
		</script>
	</body>
</html>
