.navbar-custom {
    background-color: #023a86;
    color: #FFFFFF;
}

.navbar-nav .nav-item .nav-link {
    color: #FFFFFF;
}
.image-background {
  /* The image used */
  background-image: url('../img/background.jpg');
  height: 340px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title-cards {
 font-size: 48px;
 color: #fff;
 background-color: rgba(2, 58, 134, .7);
}
.car-assurance-icon{
  font-size: 3.0em;
}
.assurance-card-text{
  font-size: 18px;
  font-family: 'proxima-nova', sans-serif;
}

/* CARDS STYLES */
.card-footer {
  background-color: #023A86; /azul sura
}

/* ICONS STYLES */
.flaticon-travel {
  color: #FA6400;
}
.flaticon-car {
  color: #E02020;
}
.flaticon-home {
  color: #F7B500;
}
.flaticon-plus {
  color: #023A86;
}
.more-cards {
  color: #023A86;
}

.btn {
  font-size: 16px;
  font-weight: 300;
  background-color: #023a86;
}
.btn-lg {
  font-size: 18px !important;
}

.btn-cotizar {
  color: white;
  font-weight:400;
}
.btn:hover {
  color: white;
  background-color: #0455C7;
  border-color: blue;
}

.card-icon::before {
  margin-left: 0px;
  padding-right: 20px;
  font-size: 50px!important;
}


.color-blue {
 color: #023A86;
}

.card-body a:hover {
  text-decoration: none;
}
.card-body-more {
  font-size: 20px;
}
/* BACKGROUND GREY */
.background-grey {
  background-color: #F4F4F4;
}

.background-height {
    height: 900px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}


.footer {
  background-color: #6D7278;
}

.flaticon-footer:before {
    font-size: 20px !important;
}



.facebook-icon {
  color:black;
}
.facebook-icon:hover {
  color:#023A86;
  text-decoration: none;
}

.clickable {
  background-color: #34AEEB;
}
.clickable a:hover {
  text-decoration: none;
}
.clickable:hover {
  box-shadow: 0px 0px 60px rgba(0,0,0,0.2);
  transition: ease 0.35s;
  cursor: pointer;
}

.description {
    font-style: normal;
    font-weight: 300;
    line-height: 1.35;
    font-size: 1.25rem;
    margin-bottom: 3rem;
    margin-top: 2rem;
    color: #404041;
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}
.page-title {
    font-weight: 300;
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}
.container-siniestro {

    max-width: 1232px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 40px;

}
.mail-sent-ok {
    background-color: #71a130;
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
    display: block!important;
    font-weight: 500;
}

.visibility-hidden {
  visibility: hidden;
}

.display-none {
  display: none;
}

.response-output {
    padding: 10px 20px!important;
}
.footer-background {
  background-color: #F4F4F4;
  height: 850px;
}
/* large */
@media (min-width:993px)  {
    .background-height {
        height: 116px;
      }
    .footer-background {
      background-color: #F4F4F4;
      height: 450px;
    }
}

/* medium */
@media (min-width:762px) and  (max-width:992px){
  .background-height {
      height: 400px;
    }

  .footer-background {
    background-color: #F4F4F4;
    height: 350px;
  }
}

@media (max-width:576px){
  .main-header {
    height: 1510px;
  }
  .background-height {
      height: 1000px;
  }
}

}
