.navbar-custom {
    background-color: #023a86;
    color: #FFFFFF;
}

.image-background {
  /* The image used */
  background-image: url('../img/back3.jpg');
  height: 340px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title-cards {
 font-size: 48px;
 color: #fff;
 background-color: rgba(2, 58, 134, .7);
}
.car-assurance-icon{
  font-size: 3.0em;
}
.assurance-card-text{
  font-size: 18px;
  font-family: 'proxima-nova', sans-serif;
}

/* CARDS STYLES */
.card-footer {
  background-color: #023A86; /azul sura
}

/* ICONS STYLES */
.flaticon-travel {
  color: #FA6400;
}
.flaticon-car {
  color: #E02020;
}
.flaticon-home {
  color: #F7B500;
}
.flaticon-plus {
  color: #023A86;
}
.more-cards {
  color: #023A86;
}

/* BACKGROUND GREY */
.background-grey {
  background-color: #F4F4F4;
}

.background-height {
    height: 780px;
}

/* QUE HACER EN CASO DE ACCIDENTE  */
.accident-legend {
    background-color: #34AEEB;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}


.footer {
  background-color: #6D7278;
}

.flaticon-footer:before {
    font-size: 20px !important;
}
@media (min-width:993px)  {
    .background-height {
        height: 100px;
      }
    }


@media (min-width:762px) and  (max-width:992px){
  .background-height {
      height: 300px;
    }
  }

}
